{% extends 'base.html.twig' %}

{% block title %}Liste des evenement{% endblock %}

{% block body %}
    <style>

    </style>

    <h1> Liste complète des événements :</h1>
    {% for event in evenements%}
        <p>{{ event.titre }}
            <a href={{ path('app_id',{id: event.id}) }}>
                <button type="button">Info</button>
            </a>
        </p>
    {% endfor%}
    <h1>Trie par categorie</h1>
    {% for cat in categories%}
        <a href={{ path("app_categorie",{categorie: cat}) }}>{{ cat }}</a>
    {% endfor%}

{% endblock %}
